<div class="w-75 mx-auto">
  <p class="fs-1">Register</p>
  {{#if registerError}}
    <p class="alert alert-danger">{{registerError}}</p>
  {{/if}}
  <form action="/register" method="post">
    <div class="d-flex gap-3">
      <div class="form-floating mb-3 w-50">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Omar"
          name="firstname"
        />
        <label for="floatingInput">First Name</label>
      </div>
      <div class="form-floating mb-3 w-50">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Ahmed"
          name="lastname"
        />
        <label for="floatingInput">Last Name</label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
  </form>
</div>